.nav-link-secondary-active {
  background-color: #6c757d;
  cursor: pointer;
}

.nav-link-secondary {
  cursor: pointer;
  color: white
}

.nav-link-secondary:hover {
  background-color: #9AB6C8;
  cursor: pointer;
}

.nav-bar-top {
  background-color: #062642
}

.nav-link:hover{
  background-color:  #9AB6C8;
}

.education-button-active {
  background-color: #6610f2;
  cursor: pointer;
  padding: 0.5rem;
  color: white;
  border-radius: 6px;
}

.education-button {
  border: 1px solid #6610f2;
  background-color: white;
  cursor: pointer;
  padding: 0.5rem;
  color: #6610f2;
  border-radius: 6px;
}

.education-button:hover {
  background-color: #6610f2;
  cursor: pointer;
  padding: 0.5rem;
  color: white;
  border-radius: 6px;
}

table td {
  vertical-align: baseline !important;
}

.SideDrawer {
  position: fixed;
  width: 200px;
  max-width: 70%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 200;
  background-color: #fff;
  padding: 32px 16px;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
  overflow: auto;
  margin-bottom: 10px;
}

@media (min-width: 992px) {
  .SideDrawerNav {
    display: none;
  }
  .SideDrawer {
    display: none;
  }
}

@media (max-width: 991px) {
  .NavBarTop {
    display: none;
  }
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(-100%);
}