.nav-link-secondary-active {
  background-color: #6c757d;
  cursor: pointer;
}

.nav-link-secondary {
  cursor: pointer;
  color: white;
}

.nav-link-secondary:hover {
  background-color: #9ab6c8;
  cursor: pointer;
}

.nav-bar-top {
  background-color: #062642;
}

.nav-link:hover {
  background-color: #9ab6c8;
}

.education-button-active {
  background-color: #6610f2;
  cursor: pointer;
  padding: 0.5rem;
  color: white;
  border-radius: 6px;
}

.education-button {
  border: 1px solid #6610f2;
  background-color: white;
  cursor: pointer;
  padding: 0.5rem;
  color: #6610f2;
  border-radius: 6px;
}

.education-button:hover {
  background-color: #6610f2;
  cursor: pointer;
  padding: 0.5rem;
  color: white;
  border-radius: 6px;
}

table td {
  vertical-align: baseline !important;
}

.SideDrawer {
  position: fixed;
  width: 200px;
  max-width: 70%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1500;
  background-color: #fff;
  padding: 32px 16px;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
  overflow: auto;
  margin-bottom: 10px;
}

.ScheduleTime {
  height: 6rem;
}

.HistoryImage {
  width: 100%;
}

.ResSubsection {
  width: 100%;
}

.SeminarSelector {
  border-right: 3px solid #dc3545;
}

.SeminarDropDown {
  display: none;
}

.SeminarDropDownItem {
  border-bottom: 2px solid white;
}

.ConferenceSelector {
  border-right: 3px solid #17a2b8;
}

.ConferenceDropDown {
  display: none;
}

.ConferenceDropDownItem {
  border-bottom: 2px solid white;
}

.Modal {
  overflow-y: auto;
  max-height: 85%;
  position: fixed;
  z-index: 500;
  width: 70%;
  left: 15%;
  top: 10%;
}

@media (max-width: 1400px) {
  .Modal {
    width: 90%;
    left: 5%;
  }
}

@media (min-width: 992px) {
  .SideDrawerNav {
    display: none;
  }
  .SideDrawer {
    display: none;
  }
  .HistoryImage {
    float: right;
    margin-top: -60px;
    margin-right: -60px;
    margin-left: 5px;
    width: 50%;
  }
  .ResSubsection {
    width: 50%;
  }
}

@media (max-width: 991px) {
  .NavBarTop {
    display: none;
  }
}

@media (max-width: 768px) {
  .ScheduleTime {
    height: 10rem;
  }
  .SeminarSelector {
    display: none;
  }
  .SeminarDropDown {
    display: block;
  }
  .ConferenceSelector {
    display: none;
  }
  .ConferenceDropDown {
    display: block;
  }

  .Modal {
    width: 96%;
    left: 2%;
  }
}

@media (max-width: 576px) {
  .ScheduleTime {
    height: 12rem;
  }
}
